<h1>Sequence</h1>

<div class="row">
    <div class="col-sm-4">
      <p>You have completed the second of three tasks.  We would find it useful if you could give us some feedback about the task you just performed.</p>
      <p>When you have completed it questions, proceed to the next task by pressing "Next".</p>
  </div>
  <div class="col-sm-8">
      <!-- <div ng-controller="formCtrl"> -->
      <form novalidate>
          <br>
          <br>
          <label>How difficult was the second task (Sequence) </label>
          <select class="form-control" ng-model="question.order">
                  <option value="" disabled selected>Select difficulty</option>
                  <option ng-repeat='item in listOrder' value='{{item}}'>{{item}}</option>
              </select>
          <br>
          <img src="img/glyphs.png" style="width:400px;height:120px;">
          <label>Which image did you find most EASY to use the for the second task (Sequence) ? </label>
          <select class="form-control" ng-model="question.glyphorder">
                  <option value="" disabled selected>Select image type</option>
                  <option ng-repeat='item in listGlyph' value='{{item}}'>{{item}}</option>
              </select>

          <br>
          <label>Which image did you find most DIFFICULT to use the for the second task (Sequence) ? </label>
          <select class="form-control" ng-model="question.glyphhard">
                  <option value="" disabled selected>Select image type</option>
                  <option ng-repeat='item in listGlyph' value='{{item}}'>{{item}}</option>
              </select>

          <br>
          <br>
          <button type="button" class="btn btn-primary" ng-click="send()">Next</button>
      </form>
  </div>

</div>
