<h1>The odd one out</h1>

<div class="row">
    <div class="col-sm-4">
    <p>For this task you will be shown a grid of images and asked to select the one that differs most from the others.</p>
<p>You can select the image by clicking on it with your mouse.</p>
<p>A video on the right shows you a demo of the task.</p>
<p>Click the replay button below to see the demo again.</p>
<p>You will now have the chance to practice the task</p>
<p>Click on the "Next" button to proceed with the practice.</p>
    <br />
    <br />
    <br />

    <button onclick="playVid()" type="button" class="btn btn-primary">Replay Video</button>
    <button ng-click="clicked()" type="button" class="btn btn-primary">Next</button><br>
  </div>
    <div class="col-sm-8">
      <video id="myVideo" width="500
      " height="500"  autoplay>
        <source src="vid/pick.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
      </video>
    </div>
</div>
<script>
var vid = document.getElementById("myVideo");
vid.muted = true;
function playVid() {
    vid.play();
}


</script>
