<h1>Users </h1>

<div class="row">
    <div class="col-sm-4">
        <p> We would find it useful if you could give us some feedback about the tasks you just perfomed.</p>
    </div>
    <div class="col-sm-8">
        <!-- <div ng-controller="formCtrl"> -->
        <form novalidate>
          <br>
          <br>
          <label>How dificult was the first task (Odd one out) </label>
          <select class="form-control" ng-model="question.order">
              <option value="" disabled selected>Select dificult</option>
              <option ng-repeat='item in listOrder' value='{{item}}'>{{item}}</option>
          </select>
          <br>
          <label>Which image did you find most easy to use the for the first task (Odd one out) ? </label>
          <select class="form-control" ng-model="question.glyphorder">
              <option value="" disabled selected>Select image type</option>
              <option ng-repeat='item in listGlyph' value='{{item}}'>{{item}}</option>
          </select>
          <br>
          <br>
          <label>How dificult was the second task (Sequence) </label>
          <select class="form-control" ng-model="question.sequence">
              <option value="" disabled selected>Select dificult</option>
              <option ng-repeat='item in listSequence' value='{{item}}'>{{item}}</option>
          </select>
          <br>
          <label>Which image did you find most easy to use the for the second task (Sequence) ? </label>
          <select class="form-control" ng-model="question.glypsequence">
              <option value="" disabled selected>Select image type</option>
              <option ng-repeat='item in listGlyph' value='{{item}}'>{{item}}</option>
          </select>
          <br>
          <br>
          <label>How dificult was the final task (Similarity) </label>
          <select class="form-control" ng-model="question.similar">
              <option value="" disabled selected>Select dificult</option>
              <option ng-repeat='item in listSimilar' value='{{item}}'>{{item}}</option>
          </select>
          <br>
          <label>Which image did you find most easy to use the for final task (Similarity)? </label>
          <select class="form-control" ng-model="question.glypsimilar">
              <option value="" disabled selected>Select image type</option>
              <option ng-repeat='item in listGlyph' value='{{item}}'>{{item}}</option>
          </select>
          <br>
          <br>
          <label>Which image did you find most easy to use over all? </label>
          <select class="form-control" ng-model="question.glyph">
              <option value="" disabled selected>Select image type</option>
              <option ng-repeat='item in listGlyph' value='{{item}}'>{{item}}</option>
          </select>

            <br>
            <br>
            <button type="button" class="btn btn-primary" ng-click="reset()">Submit</button>
        </form>
    </div>



    <!-- </div> -->
    <!--Col 8  -->
</div>
