<div class="container">
<div class="jumbotron">

    <h2> Awards</h2>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
      <div class="col-md-1">
      </div>
    <div class="row">
      <div class="col-md-9">

          <li><b>EPA's Science & Technology Achievement Award (STAA) </b></br>
          for the paper <i> Changes in constructed Brassica communities treated with glyphosate drift (2012)</i></li>
            <li><b>USA National Research Council</b></br>
		Research Associateship Award (2003-2005)</li>
	<li><b>The Cyberlife scholarship</b></br>
		 Evolutionary and Adaptive Systems MSc at the School of Cognitive Science, University of Sussex (1996)</li>
	<li><b>British Council travel award</b></br>
	    AgResearch Palmerston North, New Zealand (1993)
	</li>

      </div>
    </div>
  </div>
