
<div class="container">
<div class="jumbotron">

    <h2>Dr Ric Colasanti</h2>
  </br>
    <div class="row">
        <div class="col-sm-3 ">
            <img border="0" src="images/riccolasanti.jpg" alt="Miner" width="160" height="160" class="img-circle">
        </div>
        <div class="col-sm-9" >
          <p>I was lucky enough to discover that I really enjoy computer programming, so on the back of that I got a Ph.D. from the University of Sheffield and my partner Diane and I have spent the last 10 years doing post doc placements in the US and Australia. I am  now in the seaside town of Barry Island in Wales, where we can get a proper cup of tea and I have just graduated from Cardiff University with a PGCE (Post-Compulsory), so that I can now to pass my knowledge and enthusiasm onto others</p>
        </div>
    </div>
  </div>
  <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Employment</h2>
          <p>I am a proficient and committed computer scientist with expertise in scientific computing and a strong background in web based data presentation, analysis and visualisation. I have a real passion for programming and have successfully completed a number of research projects, to which I bring creativity and a high level of application. </p>
          <p><a class="btn btn-default" ui-sref="Employment" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Qualifications</h2>
          <p>I have a PhD from the University of Sheffield for research in computational ecology. I also have an MSc in evolutionary and adaptive computing from the University of Sussex.  I have recently become very excited about the possibilities that new web technologies offer to the area of data presentation, analysis and visualisation . This inspired me to upgrade my computing skills by obtaining an MSc in computing from Cardiff University. Most recently, I have added a PGCE (PCET) from Cardiff University which included teaching practice there.</p>
          <p><a class="btn btn-default" ui-sref="Qualifications" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Publications</h2>
          <p>I have a number of publications of which the two most cited are:</br> <i>A unifying hypothesis for the structure of microbial biofilms based on cellular automaton models</i>. JWT Wimpenny, R Colasanti, cited by 337.</br> <i>Resource dynamics and vegetation processes: a deterministic model using two-dimensional cellular automata.</i>RL Colasanti, JP Grime, cited by 112.</br></p>
          <p><a class="btn btn-default" ui-sref="Publications" role="button">View details &raquo;</a></p>
        </div>
      </div>
</div>
