<div class="container">
<div class="jumbotron">

    <h2>Dr Ric Colasanti</h2>
  </br>
    <div class="row">
        <div class="col-sm-3 ">
            <img border="0" src="images/rcolasanti.png" alt="Ric" width="160" height="160" class="img-circle">
        </div>
        <div class="col-sm-9" >
          <p>I am an experienced Software Engineer and Data Scientist with a PhD in Artificial Life from the University of Sheffield in the UK. I have a strong foundation in scientific programming, modeling, and simulation. I am proficient in agent-based and cellular automata modeling, and I apply these techniques to solve complex problems in bioinformatics, ecology, and computational social science. I have expertise in Python, Java, C/C++, and JavaScript, and I have a deep understanding of data mining, machine learning, statistical analysis, and data visualization. I am skilled in using D3.js to create interactive and visually compelling data visualizations. I have a proven ability to design, develop, and deploy sophisticated software solutions for research and industry. I have a successful track record of collaboration with interdisciplinary teams and delivering high-quality results.</p>
        </div>
    </div>
  </div>
  <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Employment</h2>
          <p>Experienced postdoctoral researcher with a track record of successful interdisciplinary collaboration in international settings, including the US  at Chicago University :Specializing in machine learning, modeling for phenotype prediction and CSIRO Australia: spatial modelling of invasive plant species. I am currently developing agent-based models for public welfare at the University of Glasgow.(See employment history in the menu for more.)</p>
          <p><a class="btn btn-default" ui-sref="Employment" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Qualifications</h2>
          <p>I have a  PhD in Artificial Life from the University of Sheffield, MSc in evolutionary and adaptive computing from the University of Sussex, and MSc  in computing and a PGCE (PCET)from Cardiff University. </p>
          <p><a class="btn btn-default" ui-sref="Qualifications" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Programming experience</h2>
          <p>Passionate coder, skilled in JavaScript, Java, and Python. Explore my programming style through these Schelling's segregation model implementations in <a href="https://ric-colasanti.github.io/PyHASE/Schelling/Schelling.html">Javascript</a> and <a href="https://colab.research.google.com/drive/1VyP7R6T9SFVZ0MJoBog25WhkDS2PLdL6?usp=sharing">Python</a> (works best in Google Chrome). For more programming projects, visit the Programming section in the menu.</p>
          <p><a class="btn btn-default" ui-sref="Programming" role="button">View details &raquo;</a></p>
        </div>
      </div>
</div>
