<div class="container">
<div class="jumbotron">

    <h2> Patents</h2>
    <p>I am named in three patents all concerned with using machine learning methods in drug discovery.</p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
      <div class="col-md-1">
      </div>
    <div class="row">
      <div class="col-md-9">

          <li>Patent Application, Serial No. 09/656,372 (Sept 6, 2000), USA - <i>Method and system for interpreting and validating experimental data with automated reasoning.</i> Case number 00.693. Inventors: Ricardo L Colasanti, Mark A D Collins, John R Shaw</li>
	<li>Patent Application, Serial No. 09/655,677 (Sept 6, 2000), USA - <i>Method and system for obtaining knowledge based recommendations.</i> Case number 00.692. Inventors: Mark A D Collins, John R Shaw, Ricardo L Colasanti)</li>
	<li>Patent Application, Serial No. 09/656,400 (Sept 6, 2000), USA - <i>Method and system for creating and using knowledge patterns.</i> Case number 00694. Inventors: Mark A D Collins, Ricardo L Colasanti.</li>


      </div>
    </div>
  </div>
