<div class="container">
<div class="jumbotron">

    <h2> Programming</h2>
    <p>I just love to code. My current specialist knowledge, in addition to web front-end development, lies in modelling and simulation. However, I also code for fun - check out my game in the JavaScript section</p>
    </div>


    <accordion close-others="true" >
        <accordion-group ng-repeat="job in jobs" is-open="isopen">
            <accordion-heading >
                <div class="row">
                    <div class="col-sm-11">{{job.language}}</div>
                    
                    <div class="col-sm-1">
                          <i class="pull-right glyphicon"
                                ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
                    </div>           
                 </div>
            </accordion-heading>
            <div>
                <p>{{job.description1}} <a href="{{job.ref1}}" target="_blank">{{job.label1}}</a></p>
                <p>{{job.description2}} <a href="{{job.ref2}}"target="_blank">{{job.label2}}</a></p>
                <p>{{job.description3}} <a href="{{job.ref3}}"target="_blank">{{job.label3}}</a></p>
                <p>{{job.description4}} <a href="{{job.ref4}}"target="_blank">{{job.label4}}</a></p>
                <p>{{job.description5}} <a href="{{job.ref5}}"target="_blank">{{job.label5}}</a></p>
                </div>
        </accordion-group>
    </accordion>


</div>


