<div class="container">
<div class="jumbotron">

    <h2> Qualifications</h2>
    </div>
</div>

      <table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Qualification</th>
            <th>Institution</th>
            <th>Dates</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="qualification in qualifications">
            <td>{{qualification.award}}</td>
            <td>{{qualification.institution}}</td>
            <td>{{qualification.dates}}</td>
        </tr>
    </tbody>

</table>
