
<div class="container">
<div class="jumbotron">

    <h2>Dr Ric Colasanti CV</h2>
  </br>
    <div class="row">
        <div class="col-sm-3 ">
            <img border="0" src="images/riccolasanti.jpg" alt="Miner" width="160" height="160" class="img-circle">
        </div>
        <div class="col-sm-9" >
          <p>I was lucky enough to discover that I really enjoy computer programming, so on the back of that I got a Ph.D. from the University of Sheffield and my partner Diane and I have spent the last 10 years doing post doc placements in the US and Australia. Having just graduated from Cardiff University with a PGCE (Post-Compulsory), I now want to pass my knowledge and enthusiasm onto others..</p>
        </div>
    </div>
  </div>
  <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Employment</h2>
          <p>I have had a varied and exciting career as a programmer. I have worked for a movie promotion company writing screensavers and web games for films from Star Trek to Beavis and Butthead. I have been the senior developer for a biotech start up and created three patented drug discovery programs I have not have been as excited about the state of computing as I am now. I have been lucky enought to do my teaching practice at the School of Computing at the University of Cardiff. I contributed to the teaching of three modules each at the forefront of moden computing. </p>
          <p><a class="btn btn-default" ui-sref="Employment" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Qualifications</h2>
          <p>I have a PhD from the University of Sheffield for research in computational ecology. I also have an MSc in evolutionary and adaptive computing from the University of Sussex.  I have recently become very excited about the possibilities that new web technologies offer to the area of data presentation, analysis and visualisation . This inspired me to upgrade my computing skills by obtaining an MSc in computing from Cardiff University. Most recently, I have added a PGCE (PCET) from Cardiff University which included teaching practice there.</p>
          <p><a class="btn btn-default" ui-sref="Qualifications" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Publications</h2>
          <p>I have a number of publications of which the two most cited are:</br> <i>A unifying hypothesis for the structure of microbial biofilms based on cellular automaton models</i>. JWT Wimpenny, R Colasanti, cited by 354.</br> <i>Resource dynamics and vegetation processes: a deterministic model using two-dimensional cellular automata.</i>RL Colasanti, JP Grime, cited by 111.</br></p>
          <p><a class="btn btn-default" ui-sref="Publications" role="button">View details &raquo;</a></p>
        </div>
      </div>
</div>
