

/* =========================================================================
 * Document
 * ========================================================================= */
div.document {
    margin-top:     70px;
    margin-bottom:   5em;
    margin-left:   250px;
    margin-right:    10%;
    font-family: "optima", "lucida grande", "lucida sans unicode",
                 verdana, arial, helvetica, sans-serif;
    font-size: 1.2em;
    line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
    color:#326598;
}

ul{
    font-size: 90%;
    color: #666666;
}
pre {
    padding:    .5em;
    font-family: monospace;
    margin-bottom: 1em;

    whitewhite-space: pre-wrap;       /* css-3 */  
    whitewhite-space: -pre-wrap;      /* Opera 4-6 */  
    whitewhite-space: -o-pre-wrap;    /* Opera 7 */  
    word-wrap: break-word;       /* Internet Explorer 5+ */  
    whitewhite-space: -moz-pre-wrap;  /* Older Versions of Mozilla */ 
}

pre span{
   color: #ff6666; 
   font-weight: bold;
}

div.note {
    float: left;
    line-height: 1.5em;
    font-size: 80%;
    margin: 0;
    padding:          3px 5px;
    margin-left:     -220px;
    width:            200px;
    border-left:     1px solid #cccccc;
}
div.note p {
    text-align: left;
    margin: 0;
    padding: 0;
}

div.note h1{
    font-weight: bold;
    color: #000000;
    font-size: 100%;
}

a.anchor {
    display: block;
    position: relative;
    top: -70px;
    visibility: hidden;
}

/* =========================================================================
 * Bootstrap tweeks
 * ========================================================================= */

.navbar {
    margin-bottom: 0;
    background-color: #eeeeee;
    border: 0;
    letter-spacing: 4px;
    opacity:0.90;
}
